[2016-09-28 17:50] ashish-chopra opened #1 "Improve README"
The content mentioned in README has not been to what has been thought of. There is no code block around statements. And proof reading is needed.

[2016-09-28 17:51] ashish-chopra opened #2 "Multiple Gauges properties override each other"
When we add multiple gauge components on a page and each one is assigned some properties then the properties of the last gauge overrides the properties of the other ones. It seems to be an issue either with scope of angular or contextRendering2D of Canvas.

[2016-09-28 17:52] ashish-chopra opened #3 "Value updates are not shown properly"
When the value is updated in the gauge, then instead of showing animation of delta. It redraws the whole gauge again from zero.

[2016-09-28 17:53] ashish-chopra opened #4 "Zero value is not handled"
When the gauge's current value becomes zero, i can still see a single blob of colored bar showing up.

[2016-09-28 17:56] ashish-chopra opened #5 "tests are mandatory requirement for this project"
test has not been setup so far for this project. The actual verification of the directive is done via suite of unit testing and regression testing only.

[2016-09-28 17:58] ashish-chopra opened #6 "Code refactoring required"
It has been a sloppy code. A major refactoring is needed. Introduce the use of services, factory, providers etc to refactor it into the right constituents.

[2016-09-29 17:00] ashish-chopra opened #7 "Gauge type of 'stripe' is not supported currently"
stripe property is not supported currently, due to coding challenges in animation part. Its support is needed for future release.

[2016-09-29 17:04] ashish-chopra opened #8 "font size and line-height are hard coded in the code for size=200"
The code contains a hardfix for font size and line height to place the label and text inside the gauge for size of 200px. When a bigger gauge is used then the label looks dislocated in the circle. Needs an urgent fix.

[2016-09-29 17:05] ashish-chopra opened #9 "label text animation with animating gauge is not supported"
When the gauge starts animating the text inside the label shows the hard value, instead of showing the value at the current frame of animation.

[2016-09-29 17:06] ashish-chopra opened #10 "Animating Threshold colors required"
Gauge does not support themes of colors and animation of colors from one to another based on the changing value of the gauge while animation.

[2016-09-30 05:29] ashish-chopra commented on #2
The problem has been solved. Multiple gauge is overriden with the properties of last gauge only in case of those properties which are read inside `animate()` method. I also found that global settings of canvas must be done inside constructor instead of `animate()`.

[2016-09-30 05:29] #2 closed

[2016-09-30 05:30] ashish-chopra commented on #1
one level of improvement has been done. I need to add more usable stats in the readme.

[2016-09-30 06:06] raul1991 opened #11 "Deployment : Code deployment fails"
Steps to reproduce
================

1. Clone the repo
2. Install node.js
3. Run ``` npm install ```
Nothing happens after that (few dependencies are downloaded though )

Note : It is showing no errors on the console.

## Dev Environment
node - 4.6.0
npm - 2.15.9
cmd - MINGW32

[2016-09-30 06:48] ashish-chopra commented on #11
When `npm install` completed. Did you run `gulp` command? This command will build the library code and start the server. and then you can browse the example at http://localhost:3000

[2016-09-30 06:59] raul1991 commented on #11
Actually it did not complete. It sort of hanged after that.

[2016-09-30 08:48] ashish-chopra commented on #11
It seems hanged. But it takes a while to download all the dependencies. Once it completes, it lists all the downloaded modules. The downloading time may depend upon the network speed.

[2016-09-30 09:07] raul1991 commented on #11
![image](https://cloud.githubusercontent.com/assets/1281636/18986640/55d63924-871b-11e6-98c3-8690361be5a0.png)

[2016-09-30 14:11] havanagrawal commented on #3
Hi Ashish, I'd like to work on some of these issues. I've recently learnt Angular and I'm sure I can contribute here.. Please let me know if I can pick up any of these issues 😁

[2016-09-30 14:50] ashish-chopra commented on #3
Hi Havana, Glad to see you want to contribute into the repository. Initially just play around with the gauge component, try to use it and test it thoroughly by using it. And if you find some issues which are not already there in the issue tracker then raise it. This way you get used to what has been done so far and the setup process as well. I will come back to you by tomorrow, what else needs to

[2016-09-30 15:08] ashish-chopra commented on #11
Try using normal cmd. Git bash cmd may be giving some issues with npm install procedure.

[2016-10-01 06:04] raul1991 commented on #11
Started correctly on mac. Have to find a way to run it on MINGW32

[2016-10-03 08:29] raul1991 opened #12 "Making the example html a bit more responsive"
Using the window resize event , the graphs can be updated.
### Changes to be done
1. Setters for the width and height
2. An event listener

[code]

[2016-10-03 08:32] ashish-chopra commented on #12
Responsive gauge is an enhancement. This will be taken up in future. But you can also contribute if you can. Thanks.

[2016-10-03 08:34] ashish-chopra commented on #11
I tried it on MINGW64 however, it was working fine. Make sure you get the latest version of npm.

my stack was:
node - 4.1.0
npm - 3.3.4
cmd - MINGW64

[2016-10-03 08:36] ashish-chopra commented on #5
Test framework has been integrated with the project. Now one can use `gulp test` to run the test suite once and exit. or `gulp tdd` during actual test driven development in which karma watch for file changes and trigger the suite.

[2016-10-03 15:36] raul1991 commented on #12
Canvas is already adjusting itself on window resize. What this issue should be now is removing a css property due to which the gui distorts on resize operation. Changing the title now.

[2016-10-04 04:08] ashish-chopra commented on #12
Canvas resize is required for accommodating the fluid layouts. Canvas currently not resizing. With your patch, only the example html is resizing as per the window resizing.

Also with the current fix, the view of example html in desktop layout get distorted. Make sure we maintain the same layout as shown in the screenshot of the example. So in order to fix the example's responsiveness you need to

[2016-10-04 16:50] ashish-chopra commented on #8
font size and line height of value label and legends are made responsive based on the size of the canvas.

[2016-10-04 16:50] #8 closed

[2016-10-04 17:00] ashish-chopra commented on #3
Hi havan,

You can pick any of the following items:

1. I have added the test framework for this library. You can contribute in writing the test cases. Check #5  issue for more details.
2. You can work on adding the "stripe" attribute to the gauge. it will create dashed line like background instead of solid line as shown in the image.

![stripe-gauge](https://cloud.githubusercontent.com/assets/194

[2016-10-04 17:02] ashish-chopra commented on #11
I am closing this issue. Since its working on normal cmd window, MINGW64 and mac as reported with above software stack details.

[2016-10-04 17:02] #11 closed

[2016-10-04 17:04] ashish-chopra opened #14 "Update "label" attribute to "legend""
In the new release, label attribute must be replaced with legend. As legend seems appropriate word for the same. the value label is already referred to as label in code. Update README and write appropriate tests for it too.

[2016-10-04 17:07] ashish-chopra commented on #7
gauge type of stripe will be supported by adding "stripe" attribute to the gauge which can take any positive integer. The value of stripe is the width and space between the stripes. It may look like this:

![stripe-gauge](https://cloud.githubusercontent.com/assets/1948545/19084146/f4e9ceda-8a82-11e6-85b9-98db69fe149b.png)

and, it can be added using following global setting to the canvas before st

[2016-10-12 04:04] ashish-chopra commented on #1
Substantial changes have been done to README with usage info, config options and  contribution env setup info.

[2016-10-12 04:04] #1 closed

[2016-10-12 04:29] ashish-chopra commented on #5
Test framework has been added and uni test suite has been written for the same.

[2016-10-12 04:29] #5 closed

[2016-10-12 04:34] ashish-chopra commented on #14
With discussion with other devs, I realized the label is appropriate for the title which is displayed below the value of gauge.

[2016-10-12 04:34] #14 closed

[2016-10-13 17:40] ashish-chopra opened #15 "angular-gauge.github.io demo needs to be created"

[2016-10-13 21:06] babruix commented on #15
Please, add gh-pages branch.
Are there any ideas on how you want this page to look?

[2016-10-14 06:07] ashish-chopra commented on #15
gh-pages branch created and settings have been updated to use this branch for project site.

Yeah, I want to keep the greenish theme which is there in the screenshot. I saw one similar theme in automatic site generator too. And i do not want any user interaction for gauges. Just to show some use cases and its corresponding code snippets.

Say, a minimal design.

- Ashish

[2016-10-25 01:05] leocaseiro opened #16 "Angular 2 Version"
Hi @ashish-chopra, are you interested in make the same directive as an angular 2 component?

[2016-10-25 04:02] ashish-chopra commented on #16
Hi @leocaseiro Yes i am in for it. Would it be good to go in the same repo or should i setup a different repo for it?

[2016-10-25 05:05] leocaseiro commented on #16
Hi @ashish-chopra. Perhaps a new repo in TypeScript.

I read real quick your source and I believe there's a lot of JS and CSS, much more than any Angular. I Please correct if I'm wrong, but Angular is just to helping with binding.

With that said, a nice alternative would be refactoring this lib into a JS lib to use without any dependency, so it could have a directive for AngularJS and a Component

[2016-10-25 05:54] ashish-chopra commented on #16
Yes, you are right. I wanted to keep the Gauge as a separate object and let angular talk to it for updations/modifications/notifications only. I do not want to intermix angular specific code with actual gauge code. And one reason was to separate it out into a vanilla JS library. So going by this approach is also cool. Let me know, i will setup the repo for vanilla JS library if needed or we simply

[2016-10-25 06:40] leocaseiro commented on #16
Hi @ashish-chopra, it's up to you, which one do you believe better?

Both ways works for me. Perhaps a new branch here would be nice so that old users could see the evolution of the library.

[2016-11-15 07:20] akshayallu64 opened #18 "inserting json fetched values to value attribute"
how to insert values that are fetched from json to value attribute of ng-guage.

for example:
<p class="level" ng-repeat = "item in leveler">
   	<span>{{item.l1.open}}</span>

  		<div flex layout="row" layout-sm="column" layout-xs="column" layout-md="row">
			<div flex layout="column">
				<div flex class="overdue1">Overdue</div>
				<div flex class="guage1" layout-align="center"><ng-gauge size=

[2016-11-17 09:05] ashish-chopra commented on #6
Some level of refactoring is done and tested against the test suite. Its running fine. Major design level changes needs to be done.

[2016-11-17 09:05] ashish-chopra opened #19 "Linting and JSCS support was temporarily removed due to errors."

[2016-11-17 09:07] ashish-chopra commented on #19
I have resolved the jscs and jshint problems and now code compilation and building uses the tasks for linting and styling. Errors communicated by linting process in the source code has been rectified as well.

[2016-11-17 09:07] #19 closed

[2016-11-18 03:09] ashish-chopra opened #20 "Add global config options for gauge"
I think it is needed to set few config options at global level, which is applicable for every gauge instance in the application. Because providing every attribute on every other instance is cumbersome for client.

Solution: Need to use providers to set options during config time of angular app.

[2016-11-22 20:06] rohan-buchner opened #21 "Is it possible to not redraw from 0?"
When updating a chart value, is it possible to not have the chart redraw from 0 each time?

[2016-11-23 02:54] ashish-chopra commented on #21
I had opened the similar issue #3. Can you send a pull request for this issue?

Anyways i think, some change is needed in mathematical equation that calculates the coverage on the arc as well for this issue.

[2016-11-23 03:00] #18 closed

[2016-12-15 21:42] sahilbabbar opened #22 "Github Page"
Hi @ashish-chopra, it would be very helpful if you can add a GitHub page to showcase the demo of this directive. This will serve a quick comparison between other dashboard directives as well.

[2017-02-21 20:24] husamawajan opened #23 "change value dynamically"
thank you for your effort but how can i change the value dynamically ?

[2017-02-21 20:31] rohan-buchner commented on #23
@husamawajan Erm... bind to it.

[code]

Then in your controller

[code]

[2017-03-01 14:13] TakeshiDaveau opened #24 "Can't be use with angular-i18n"
When I try to use the angular-gauge directive

[code]

If I add angular-i18n in my `index.html` :
[code]

The gauge is empty. It renders everything but the foreground color.

[2017-03-01 15:52] ashish-chopra commented on #24
@TakeshiDaveau Thanks for pointing this out. While writing this library, i did not even thought of this. And, it is good to see that such extensions are coming through people who are trying to use it.

Well there are two things:

1. `value` attribute of the `ng-gauge` directive expects a variable or a value which has to be numeric (without doubt). But, when we apply number filter on any number bef

[2017-03-01 16:03] TakeshiDaveau commented on #24
@ashish-chopra Thx for the quick answer, and you did a good analysis of the problem.

I tried to understand what's wrong when adding french local before creating my issue here, but I didn't spotted the problem.

And yes this quick fix is alright for me.

[2017-03-01 16:08] #23 closed

[2017-03-01 16:12] ashish-chopra commented on #22
Hi @sahilbabbar,

i already had this thing in my backlog and i am working on it. Very soon i will publish the website (may be at the end of this week), in case if you want to contribute in completing website work faster, checkout the gh-pages branch on this repo.

Meanwhile, you can see the working example's snapshots on README or you can simply download the code and dependencies and if you follow

[2017-03-03 18:14] ashish-chopra commented on #22
Hi @sahilbabbar The website is ready to show you some demos of gauge directive. Checkout at
https://ashish-chopra.github.io/angular-gauge/

Keep raising issues/feature requests etc for gauge directive as required.

[2017-03-03 18:14] #22 closed

[2017-03-03 18:17] ashish-chopra commented on #15
@babruix thanks for your help. The website is up and running at https://ashish-chopra.github.io/angular-gauge/

Hope you like the library and the website. Keep using it if you can and post your suggestions, issues, feature requests etc.

[2017-03-03 18:17] #15 closed

[2017-03-03 18:24] ashish-chopra commented on #18
Hi @akshayallu64 incase you need to see a working example of the query you asked, check out the new website for the library at https://ashish-chopra.github.io/angular-gauge/ in Demos section.

[2017-03-03 18:28] ashish-chopra commented on #23
Hi @husamawajan  checkout in case you need to see a working example of the query you asked, check out the new website for the library at https://ashish-chopra.github.io/angular-gauge/ in Demos section.

Keep posting your issues/queries/feature requests/suggestions to improve the library.

[2017-03-08 04:14] raul1991 opened #26 "Update function does not work as it should"
Clicking the update button on the gh-pages branch (calls the update function of the gauge) does not really clears the previously drawn arc if you press it frequently and results into an inconsistent gauge.

Have a look at the following picture.
![image](https://cloud.githubusercontent.com/assets/1281636/23689919/c4e142f6-03e3-11e7-8de2-0d0d5d758315.png)

[2017-03-08 04:18] ashish-chopra commented on #26
Good, its a know issue, but was taken on low priority as it will not effect any real world app, unless it is realtime udpate. But yes please send a pull request with a fix, i you can.

[2017-03-15 08:58] ashish-chopra commented on #20
Global config option is released in v1.2.0+. Checkout README and https://ashish-chopra.github.io/angular-gauge

[2017-03-15 08:58] #20 closed

[2017-03-15 09:02] ashish-chopra commented on #12
Example html has been redesigned as a "playground" now. Checkout a snapshot below:

![playground](https://cloud.githubusercontent.com/assets/1948545/23940724/183f221c-098c-11e7-986c-3d36df65894e.png)

Take the latest pull or update your dependencies to v1.3.0, this playground will be available.

[2017-03-15 09:02] #12 closed

[2017-03-15 14:52] #6 closed

[2017-04-28 17:02] atefBB opened #28 "Text display inside gauge with firefox"
I'm using ng-gauge on firefox (v53.0 (32 bits) Win7), the text inside the gauge is displayed correctly on chrome but with firefox the text is displayed outside the gauge.
my HTML code is:
`<ng-gauge size="150" type="full" thick="5" value="some_data" cap="round" label="text here" foreground-color="#0095c8" background-color="#c8c7cc" duration="1000" append="%"></ng-gauge>`
the displayed gauge here:

[2017-04-29 10:16] ashish-chopra commented on #28
Hi Atef,

Before getting into the internals of your problem, i tried opening the official website of angular-gauge (https://ashish-chopra.github.io/angular-gauge) in firefox (53.0) win7 and the gauges are rendered perfectly fine. Checkout the screenshot below:

![screenshot-53 0-firefox](https://cloud.githubusercontent.com/assets/1948545/25554749/c74eda66-2cf2-11e7-80cc-2c8c8d43ab34.PNG)

However,

[2017-04-29 21:33] atefBB commented on #28
thanks @ashish-chopra!
the gauges are rendered perfectly in the official website!
but in my 'testing' website they aren't!

[2017-04-30 06:28] ashish-chopra commented on #28
Hi @atefBB ,

Which version of angular-gauge library are you using in your project?
If possible can you share some code like HTML showing ng-gauge wrapped in some parent divs and related CSS?

You can email me the code if it is private/protected - sendtoashishchopra@gmail.com

Regards
Ashish

[2017-04-30 06:40] ashish-chopra commented on #28
Hi @atefBB,

I am able to reproduce your problem on `angularjs-gauge v1.1.1`. It seems that it is broken in Firefox. But all the latest versions, 1.2.0 or 1.3.0 is working fine in firefox. Can you please upgrade your installation to new version.

Change the version in package.json to 1.3.0 and  run npm install. To make sure you get the latest, check the package.json file in `node_modules/angularjs

[2017-04-30 07:21] ashish-chopra commented on #28
In your source code of angularjs-gauge.js (or minified), whatever you are using. Change the highlighed code to as mentioned below and then let me know if you experience the same issue again?

![snapshot](https://cloud.githubusercontent.com/assets/1948545/25562425/a2147cea-2da3-11e7-83ea-b125f9614489.PNG)

`display:inline-block;`

Make sure you reload the browser window so that fresh file is downlo

[2017-04-30 20:21] atefBB commented on #28
Thanks M. Ashish.
I'm not at work, and I'll try your recommendation and see the result soooooon !

[2017-05-02 07:20] atefBB commented on #28
Peeeeeeeeeeeerfect! after adding `display:inline-block;` in the `angularjs-gauge.js` file it rendered perfectly now.
Thanks!
![ddd-gauge](https://cloud.githubusercontent.com/assets/10966925/25607799/16a2f678-2f10-11e7-9bd8-0c45a5978d31.png)

[2017-05-02 11:12] ashish-chopra commented on #28
Great, @atefBB

I found that this bug exists in latest version also. I will release 1.3.1 with bug fix shortly.

Thanks
Ashish

[2017-05-02 16:25] ashish-chopra commented on #28
Hey @atefBB ,

I have just released the latest version 1.3.1 including the fix. You can update your package.json.

 Cheers
Ashish

[2017-05-02 16:27] atefBB commented on #28
Thaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaanks M. @ashish-chopra !
I'll do (In shaa Allah) !

[2017-05-02 16:37] ashish-chopra commented on #28
Shukriya :+1:

[2017-05-02 16:37] #28 closed

[2017-05-05 02:36] tbillion opened #29 "Scaleable Divisor."
Im not a java programmer but i did take a crack at trying to get this to work ...

this guage in its current configuration is really only good for values 0 to 100 however it could be made much more useful for values over 100 if there was a settable property called a "divisor" basically it would take this line of code:

`tail = head + (distance * value) / 100;`

and replace it with this:

`tail = h

[2017-05-05 14:38] ashish-chopra commented on #29
Hi @tbillion,

You reverse engineered it correctly. It may not be working because of some mathematical equation.

Anyways, the use case that you have is to show value greater than `100`. So for that do not use `value` attribute. Use `used` and `total` attributes. Why? You are right, value attribute only supports value between 0-100. `used` and `total` attribute will show the actual value of `used`

[2017-05-07 10:08] ashish-chopra commented on #26
The bug was a problem with animation's mathematical equation and rendering logic. In the latest release [v1.4.0](https://github.com/ashish-chopra/angular-gauge/releases/tag/v1.4.0), i have re-written the underlying gauge logic, thereby eradicating this issue and many more. Checkout the release note and take an upgrade.

Thanks!

[2017-05-07 10:08] #26 closed

[2017-05-07 10:11] ashish-chopra commented on #9
I am leaving this requirement altogether. I don't think providing an extra label anywhere in the gauge is useful. The users might put gauge inside a div where they have the liberty to put label anywhere. If i add this feature, i can only support two places: above or below only.

[2017-05-07 10:11] #9 closed

[2017-05-07 10:12] ashish-chopra commented on #4
Zero values are now handled properly. Checkout fix here: 940e4cd55f5527bda8daf72ac00137b626f0872e

[2017-05-07 10:12] #4 closed

[2017-05-09 13:54] onncho opened #30 "Max Min Values"
Hey,
can i set range of values?
for example: 1-5 instead of  0-100

[2017-05-09 14:43] ashish-chopra commented on #30
No as of now. But i mentioned in issue #29 That i will be launching a major release 2.0 of this gauge next week, then it will have an API like `min`, `max`, `value` which resembles the API pattern of meter element of HTML 5.

[2017-05-10 08:31] onncho commented on #30
Awesome! thanks for the fast response.

[2017-05-10 12:28] atefBB opened #31 "handle 'mouseover' event in gauges"
I'm using the gauge inside a div and when I select the div to handle js `hover` event, the event isnot fired, my HTML code:
[code]

my `angularjs` code:
[code]
any ideas?

[2017-05-10 17:00] ashish-chopra commented on #31
Well, your issue title says `Clickable` and inside description your are trying to handle `hover`.

However, there are no `hover` event in HTML5 for HTMLElement types. Hover is a state whereas the event is `mouseover`, which is very well working. The correct way of binding to events in angular is using `ng-mouseover` on `<ng-gauge>` or any other element wrapping it. Try to avoid jqLite operations,

[2017-05-10 20:43] atefBB commented on #31
Thx, I don't know that!
I'll try this approach and see the result!

[2017-05-11 06:52] atefBB commented on #31
@ashish-chopra title of issue changed !
It work !
thx for the advise !

[2017-05-12 02:40] #31 closed

[2017-05-15 20:31] sahilbabbar opened #32 "Minor Doc Bug"
Incorrect `NPM` module path mentioned on the homepage:

[code]
It should be:
[code]

[2017-05-15 20:57] sahilbabbar commented on #30
@ashish-chopra waiting for `v2.0`.

[2017-05-16 02:48] ashish-chopra commented on #32
Thanks for pointing it out. Will fix it.

[2017-05-16 04:22] ashish-chopra commented on #30
@sahilbabbar, Everything is ready to roll-out. Just fixing the publishing lifecyle of the project.

[2017-05-16 05:39] ashish-chopra commented on #32
fixed.

[2017-05-16 05:39] #32 closed

[2017-05-16 05:39] ashish-chopra commented on #30
checkout the latest release https://github.com/ashish-chopra/angular-gauge/releases/tag/v2.0.0

[2017-05-16 05:39] #30 closed

[2017-05-16 05:40] ashish-chopra commented on #29
@tbillion  this issue has been addressed in v2.0.0. You may take an upgrade.

[2017-05-16 05:40] #29 closed

[2017-05-16 05:41] ashish-chopra commented on #24
@TakeshiDaveau i have added the fix in the latest major release 2.0. Take an update and enjoy more stable, better performing and more configurable version of angular-gauge with i18n support. Thanks for this issue, btw.

[2017-05-16 05:41] #24 closed

[2017-05-23 10:05] peppinho89 opened #34 "Redrawing issue if value change to zero"
The second if statement prevent redraw if the new value (nv param) is zero.
[code]
This could fix it
[code]

[2017-05-23 14:14] nuritharra opened #35 ""label" and "append" attributes filled with icon"
Hi, I wanna ask about the "label" and "append" attributes. Are that attributes can filled with icon or picture maybe?

Thank you :)

[2017-05-24 03:54] ashish-chopra commented on #35
No, it does not support images/icons. It only supports text for Label and append attributes. In case if you need that you can modify the source code as per your needs.

Thanks!

[2017-05-24 03:55] ashish-chopra commented on #34
Thanks for pointing this out. I will use native `angular.isDefined()` call to identify undefined ness of `nv`. I will fix this up. Thanks!

[2017-05-25 08:59] samdanishaik opened #36 "If value is zero then background circle doesn't show up"
Hi,

I am using following code to show guage:

<ng-gauge size="150" type="full" thick="8" min="0" max="100" value="perc" cap="round" label={{process_status}}  foreground-color="#017bc1" background-color="#ccc0bc" append="%"></ng-gauge>

Majority of times the value "perc" is 0 in my case, so nothing shows up on the UI. I want to show the background circle (#ccc0bc) to show up without any filling wi

[2017-05-25 10:42] ashish-chopra commented on #36
Hi @samdanishaik ,

Make sure you are using the latest version `2.0.0`. If not, then take an update and read the README document to slight changes in API. This would remove the major problems occurring in 1.x

In case, if it is still a problem, then as per my experimentation, when i bind a scope variable to `value` property of `<ng-gauge>` and it is `undefined`, then the gauge would not show up. H

[2017-05-25 11:31] samdanishaik commented on #36
You are right.. This works.. Thanks for the quick response

[2017-05-25 15:05] ashish-chopra commented on #36
Thanks.

[2017-05-25 15:05] #36 closed

[2017-05-29 04:28] #35 closed

[2017-05-29 11:38] samdanishaik commented on #36
Hi,

One more query on this.

I modify the guage value dynamically on the same screen/page on selection of an element from dropdown. Lets say by default, I have a process in 100%/50% completion state. Now if I change the dropdown to an element which has 0% completion then this doesnt refresh the guage.

![image](https://cloud.githubusercontent.com/assets/14090173/26547924/0b8208b2-448f-11e7-8940-a

[2017-05-29 11:46] samdanishaik commented on #34
Hi,

One more query on this.

I modify the guage value dynamically on the same screen/page on selection of an element from dropdown. Lets say by default, I have a process in 100%/50% completion state. Now if I change the dropdown to an element which has 0% completion then this doesnt refresh the guage.

In my controller this is the code I have:

$scope.perc = 0;

   onboardServices.getOpenOnboardi

[2017-05-29 11:54] samdanishaik commented on #34
BTW, following the solution proposed by peppinho89 helped fixing this temporarily.

[2017-05-30 04:07] ashish-chopra commented on #34
Hi @samdanishaik, yes, @peppinho89  proposed one solution and in my comment also i mentioned to use `angular.isDefined()` to check nv. However, i have fixed this bug, will release it as 2.0.1 version. You may take the update then.

Thanks!

[2017-05-30 04:30] ashish-chopra commented on #34
@samdanishaik, @peppinho89

 2.0.1 is published to npm. You can take an update. Let me know if you find any other or related issue.

Thanks!
Ashish

[2017-05-30 04:30] #34 closed

[2017-06-21 08:07] sanuradhag commented on #16
Hi @ashish-chopra ,
I can't find the angular 2+ version of this project. Is it published or are you still working on it?
Thanks.

[2017-06-21 09:07] ashish-chopra commented on #16
@sanuradhag Yes, i am still working on it. And it will be available on https://github.com/ashish-chopra/ngx-gauge repository.

[2017-06-22 05:02] sanuradhag commented on #16
@ashish-chopra okay. great :+1:

[2017-06-26 08:13] ashish-chopra commented on #10
Finally this feature has been introduced. https://github.com/ashish-chopra/angular-gauge/releases/tag/v2.1.0

[2017-06-26 08:13] #10 closed

[2017-06-26 08:14] ashish-chopra commented on #3
Not taking up this issue. As deprioritized.

[2017-06-26 08:14] #3 closed

[2017-10-24 03:43] ssbrewco commented on #21
First off, nice work on the gauge - hard to find one like yours that plays well with AngularJS.

Anyhow, would like to +1 the request to address the "redraw from 0" issue mentioned above. Would be much easier to redraw (higher or lower) starting from the current value.

Thanks!

[2017-10-24 04:03] ashish-chopra commented on #21
Thanks @ssbrewco for your kind words.  Hope if someone can send a pull request to do the required changes.

[2017-10-25 11:27] MuhammadTahir92 opened #39 "How can i change the size of label without changing the size of gauge"
![capture](https://user-images.githubusercontent.com/25048331/31996251-a3334afa-b93c-11e7-95df-e4d6c71874a6.PNG)

  <ng-gauge size="200"  type="arch" thick="10" min="0" max="ctrl.maxValue" value="ctrl.totalSales" cap="butt" label="Total Sales"  foreground-color="rgb(0, 128, 115)" background-color="rgba(0, 0, 0, 0.1)"  append="$">
</ng-gauge>

[2017-10-29 15:28] ashish-chopra commented on #39
Well, the value is written inside a span tag. If somehow from CSS you can able to access the `<span></span>`  inside the `<ng-gauge></ng-gauge>`, then you can play with its font-size.

[2017-11-01 15:36] Emlynkm commented on #39
I edited the js file... the directive uses a variable called tpl for its template. Edit the template by  adding a class to the appropriate tag then edit the style in your css. I had to use the !important rule for it to take effect.
![image](https://user-images.githubusercontent.com/17127860/32282647-d1e21946-bf2a-11e7-9952-906863c55ff5.png)

The classes were added to the master this would make it

[2017-11-03 10:45] karlmtc commented on #21
I have created #40 with the feature. It updates from the previous value if there's any, or the min value if it hasn't been updated yet, instead of always updating from the min value.

[2017-11-08 17:38] eladio-02 opened #41 "Problems with Ionic 1"
I'm trying to use this with Ionic 1 but It doesn't show it when i put this lines into my HTML files
      <ng-gauge size="200" type="full" thick="5" min="0" max="120" value="68.2" cap="round" label="Speed"  foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="mph"></ng-gauge>, I don't know what the problem is?

[2017-11-08 18:51] eladio-02 commented on #41
Fix it

[2017-11-08 18:51] #41 closed

[2017-11-08 21:51] steven-gruverman opened #42 "Angular ~1.6 compatibility"
Does angular-gauge work with angular ~1.6? Will it soon?

[2017-11-12 03:38] ashish-chopra commented on #16
Hello Guys, Sorry for late information. ngx-gauge library is live for past few days. You can download and use it for Angular 4 based projects.

Cheers
Ashish

[2017-11-12 03:38] #16 closed

[2017-11-12 03:48] ashish-chopra commented on #42
Hi @steven-gruverman ,

I did not test angular-gauge with 1.6 version while developing. I think, v1.6 was developing that time. But you can try it with angular 1.6 and let me know if there is any issue. If you can do this exercise, this would help me to upgrade it promptly.

Else, i will be free around mid December to start looking into it.

Regards
Ashish

[2017-11-12 03:50] ashish-chopra commented on #21
Thanks @karlmtc , its amazing. I will test your pull request soon.

Thanks
Ashish

[2017-11-13 10:06] karlmtc opened #43 "The number of decimals represented is not selectable"
If you have a decimal number, you can't select how many numbers to show after the comma. You also can't select to show no decimals.

[2017-11-13 10:22] karlmtc commented on #43
Added #44 to solve this.

[2017-11-13 14:46] steven-gruverman commented on #42
Hi Ashish,
Thanks for your reply. I did have a chance to try it with our application – for the features and angularjs-gauge we use there was one small problem that may have had more to do with our css.
Because we are close to a release I don’t have time now to test more or to get it to work – for now we are just going with the Bower dependencies as-is and dealing with the Javascript errors being t

[2017-11-14 21:05] ssbrewco commented on #42
I've done limited testing on AngularJS 1.6.5 without issues...

-S

[2017-11-14 21:06] ssbrewco commented on #21
Really looking forward to this one!

[2017-11-16 03:48] ashish-chopra commented on #21
#40 merged in the master. I will release it shortly. Thanks!

[2017-11-16 03:48] #21 closed

[2017-11-16 03:51] ashish-chopra opened #46 "Thresholds value is treated as string produces wrong color values"
The threshold value used a key is used a string in the algorithm to compare with each other, therefore always wrong color get selected due to string comparison, not number comparison.
For example if this is the case:
[code]
The color related to 8 is always shown for anything >= 8.

[2017-11-16 03:54] ashish-chopra opened #47 "Infinite Digest Loop on the example web page and official webpage of angular-gauge"
angular.js:13550 Error: [$rootScope:infdig] http://errors.angularjs.org/1.5.5/$rootScope/infdig?p0=10&p1=%5B%5B%7B%22msg%22%3A%22fn%3A%20function%20(c%2Ce%2Cf%2Cg)%7Bf%3Dd%26%26g%3Fg%5B0%5D%3Aa(c%2Ce%2Cf%2Cg)%3Breturn%20b(f%2Cc%2Ce)%7D%22%2C%22newVal%22%3A%7B%7D%2C%22oldVal%22%3A%7B%7D%7D%2C%7B%22msg%22%3A%22thresholds%22%2C%22newVal%22%3A%7B%7D%2C%22oldVal%22%3A%7B%7D%7D%5D%2C%5B%7B%22msg%22%3A%2

[2017-11-16 03:55] ashish-chopra commented on #43
#44 merged. Thanks for your contribution :+1:

[2017-11-16 03:55] #43 closed

[2017-11-16 04:48] ashish-chopra commented on #42
I did some testing with angular 1.6 while testing the pull requests. and no issues found.

[2017-11-16 08:56] ashish-chopra opened #48 "Negative ranges are broken"
I recently found that using negative value for `min` and positive value for `max`, then gauge does not render at correct position for the current `value`. Fix needed.

[2017-11-16 13:52] steven-gruverman commented on #42
Great – thanks for doing that and for letting us know!

Steve Gruverman | Application Developer II
IDEXX Laboratories, Inc. | Steven-Gruverman@idexx.com<mailto:Steven-Gruverman@idexx.com>
Phone: + 1 207 556 6981
Mobile: + 1 207 798 2893

From: Ashish Chopra [mailto:notifications@github.com]
Sent: Wednesday, November 15, 2017 11:49 PM
To: ashish-chopra/angular-gauge <angular-gauge@noreply.github.co

[2017-11-23 06:20] ashish-chopra commented on #47
Resolved in 2.2.0

[2017-11-23 06:20] #47 closed

[2017-11-23 06:50] ashish-chopra commented on #42
verified and released v2.2.0 of gauge library.

[2017-11-23 06:50] #42 closed

[2017-11-23 06:50] ashish-chopra commented on #46
Resolved. Thanks @donghopark for pull request.

[2017-11-23 06:50] #46 closed

[2017-12-18 09:55] karlmtc commented on #48
I created #49 to resolve this issue.

[2017-12-18 10:00] karlmtc commented on #39
I would suggest to mark each element with css classes. For example:

ng-gauge-prepend
ng-gauge-append
ng-gauge-value
ng-gauge-label

This way it would be easy to change the default style and allow customization without having to change the code.

[2017-12-20 16:23] ashish-chopra commented on #39
Good suggestion @karlmtc.
I will take it up soon, most probably after Christmas.

[2017-12-20 16:24] ashish-chopra commented on #48
I will take it up after Christmas!

Thanks!

[2018-02-12 18:06] ankgt opened #50 "Making the gauge responsive"
Hi,

This gauge is awesome! I am using this with Bootstrap, and wanted some tips on how I could make it responsive. For example, if placed in a div with class "col-xs-12 col-md-6" it should adjust as the div class changes based on the window size.

Thanks!

[2018-02-15 07:13] ashish-chopra commented on #50
Thanks for liking it. Do star or fork the project.

Gauge is built using canvas and the canvas is given absolute size as of now using size property. So the gauge is not responsive as per current implementation. But if you can add the responsive feature to it, I am happy to accept the pull request for the same.

Make sure to discuss your approach here so that we can refine it before sending the pul

[2018-03-15 08:28] rahulrathore1986 opened #51 "while exporting the Gauge as PDF through Kendo the Gauge Image Distorted"
while exporting the Gauge as PDF through Kendo the Gauge Image Distorted even at 100 %  resolution.
[AdoptionScoreCard_ADVANCE MAGAZINE PUBLISHERS, INC (4).pdf](https://github.com/ashish-chopra/angular-gauge/files/1814510/AdoptionScoreCard_ADVANCE.MAGAZINE.PUBLISHERS.INC.4.pdf)

[2018-03-23 17:06] aledwassell opened #52 "Dynamically change gauge thresholds"
Hi, this gauge is really useful, thanks!
I am trying to dynamically change the gauge thresholds so I can move a slider and it will set the gauge object property keys to the value of the slider, I think I have successfully updated that object but the gauge doesn't update when the thresholds updates.
Is there any function that refreshes the gauge when the thresholds update?
Thanks again
Al

[2018-03-26 07:15] ajmalhassan commented on #48
Any luck resolving it?

[2018-04-11 06:23] Gunaviru opened #54 "Responsive For Different Resolutions is Missing"
Hi Ashish, am using this gauge with bootstrap framework, getting issue in height and width on different resolutions.

[2018-06-11 03:11] marlon-assef opened #55 "How can I use angular-gauge directive inside another directive?"
Hi, @ashish-chopra .

How can I use the `<ng-gauge>` inside another directive?
Our application uses widgets to create a page. Each widget is a directive, for instance:

[code]

I want to use the `<ng-gauge>` inside the `<directive-two>`, but it is not working.
the ng-gauge component does not get the correct options configuration and end up failing to render.
Maybe I miss a configuration.

Can ng-g

[2018-07-30 09:35] tmontanaro commented on #50
I partially solved the problem in this way:

HTML code
[code]

Javascript code
[code]

[2018-07-30 09:40] tmontanaro opened #56 "Is it possible to show more than one value at the same time?"
Is it possible to show more than one value at the same time?
To let you understand what I'm thinking, you can see the following image:

![Multiple values in Gauge](https://user-images.githubusercontent.com/6121394/43390099-aae366fe-93ed-11e8-951c-7d0d7449bf5f.png)
(image from http://www.datarevelations.com/wp-content/uploads/2016/06/Stacked-donut.png)

[2018-08-04 08:42] omfgicbf opened #57 "Gauge renders incorrectly when value is updated and min value is high"
If you set a high min value (e.g. min = 40, max = 60, value = 50), the gauge will render correctly initially, however, updating the value causes the gauge to render at 100%, even if the value falls between the min and max values.

This can be reproduced on the playground at https://ashish-chopra.github.io/angular-gauge/

![image](https://user-images.githubusercontent.com/39300379/43674352-0f6ae4c2

[2018-09-08 14:26] szmolnar opened #59 "Changing value by touch / drag"
Hi!

Is it possible to change tha value by touching it, for example to be able to use it for temperature control?

Thanks!

[2018-09-12 17:20] Tails128 opened #60 ""label" should accept controller's variables"
Hi,

I'm facing a specific use-case:
I am using a time which i want to display in minutes, but in order to keep the animation smooth I need to use the time as seconds (e.g: with `max=1m` i'd like to display 60 ticks).
In order to do this I've set `label-only=true` and i am updating the label with something like this:

[code]

Currently the way to make this work is to:
- give the gauge an id
- let

[2018-09-27 03:52] JimmySpann opened #62 "Change foreground-color by percentage of max?"
I've tried everything I can think of with no success. Can you guys think of a way to do this? It would make the code much more dynamic when the max is set by api.

[2018-09-27 04:17] ashish-chopra commented on #56
Hi @tmontanaro

 This is not possible with angular-gauge natively. However, with tricks, you can stack multiple angular-gauge together to achieve it but I don't recommend that because it is a hack, not a sustainable solution.

You can look for other chart types which better match your situation. Maybe gauge is not the right fit for this problem.

Thanks!

[2018-09-27 04:17] #56 closed, assigned to nobody

[2018-12-11 16:12] ghost opened #63 "Whitespace between number and text"
As usually, percentatge symbol ("%") appears (and have to be) next to the number. However, for the measurement units (like "mph", "kW", "Pa", "GB"...), it is necessary a separation before these. Starting a whitespace at the `append` option does not work.

[2018-12-11 16:23] ghost opened #64 "Overflowing content"
The HTML tag that displays the text of `label` option (represented by `<b>`) overflows from its main container. It is because of inline CSS styles: an excessive line height mainwhile an absolute position.

[2019-01-11 14:25] sickermanex commented on #57
Did someone review this issue?

[2019-01-30 00:40] TristanBrotherton commented on #50
+ 1 for this feature

[2019-03-13 12:02] flora8984461 opened #65 "cannot co-exist with other module"
I try to use gauge and xeditable both in one page, but I find gauge can only use "ng-app" in the <html>, if I use it in my <div>, the pictures cannot show. And because I have it in <html>, I cannot add other modules in the <div>. I hope to know how could it coexist with other modules?

Thanks!

[2019-03-13 12:13] #65 closed, assigned to nobody

[2019-05-10 03:31] nguyenhoangnamkg opened #66 "Thresholds with decimal values"
Your library is very nice. Thank you for supporting the community.
I have an issue is that when I change the threshold value to decimal, it does not work as expected.

vm.thresholds = {
      '0': {color: 'green'},
      '8': {color: "orange"},
      '20.05': {color: 'yellow'},
      '30.05': {color: 'coral'},
      '80': {color: 'red'}
    }

[2019-05-22 11:13] rolfst commented on #66
I have the same issue however I noticed it only works for decimals that are half values like:
`90.5, 56.5`
nor does it change when over 100

[2019-05-30 16:14] tingspain opened #67 "HELP: Issues Integrating into Ionic 4"
hello,

I am new with Angular 7 and Ionic 4. I am trying to use the Angular Gauge within Ionic, but I am not able to make it work.

Please, could anyone give me a hint?

Thanks in advance

[2019-05-30 17:34] ashish-chopra commented on #67
Angular 7 is a typescript based version of angular which is different from Angular 1.x which is Angular JS. This library angular-gauge is made for AngularJS apps only. If you want to use a gauge component with Angular 2+ apps, use https://github.com/ashish-chopra/ngx-gauge library.

[2019-05-30 17:40] tingspain commented on #67
@ashish-chopra, yes I found it and I am using it.
THANK YOU VERY MUCH 1: your fast reply 2: for the work that you have done!
Thanks!!!

[2019-05-30 17:41] #67 closed, assigned to nobody

[2019-07-05 09:42] ghost opened #68 "Zero value is not drawed correctly in some case"
I use this library in a dashboard where i do polling to track data changes.
When value of gauge is different from 0, it is updated correctly
When value (during polling) is 0, the value printed inside gauge is correct, but the arch is not redrawed.

An example can be reproduced as is screens in your public website
1) first set value = 30
2) select and delete value (empty = 0)
in gauge text value is

[2019-07-05 09:53] ghost commented on #50
I did something similar

**_HTML_**
[code]

**(note size attribute)**

**_JS_**
[code]

[2019-08-19 14:10] smurancsik commented on #57
I experienced the issue, too.

After digging into the code, I found out that in the `animate` function in `create`, the previous progress is calculated badly: instead of indicating the change delta, it took the start + delta value as previous progress.

By replacing the line

`var previousProgress = ov ? (ov * unit) : 0;`

to

`var previousProgress = ov ? ((ov-min) * unit) : 0;`

fixed the issue f

[2020-01-22 15:28] gewubuntu commented on #52
hi @aledwassell did you fix your problem? i want to do a similar thing maybe you could help me :)